.file-area {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 20px auto;
    width: 150px;
    height: 150px;
    border: 5px dotted lightgray;
    outline: none;

    p {
        font-style: italic;
        color: #9c9c9c;
    }

    &:hover {
        cursor: pointer;
    }
}
