.login-page {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: white;
    z-index: 5000;

    .icon {
        height: 120px;
        width: 120px;
        background: transparent url("../../images/icon.png") no-repeat center;
        background-size: cover;
        margin-bottom: 10px;
    }

    .login-back {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin: auto;

        @media screen and (max-width: 991px) {
            width: 100%;
            min-height: 100%;
        }

        .login-form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 400px;
            height: 490px;
            box-sizing: border-box;
            padding: 20px 20px 20px 20px;

            h5 {
                text-align: center;
                font-size: 18px;
                font-weight: bold;
            }

            h6 {
                text-align: center;
                font-size: 15px;
                color: #9c9c9c;
                margin-bottom: 20px;
            }

            @media screen and (max-width: 991px) {
                width: 100%;
                height: auto;
                flex-grow: 1;
            }
        }
    }
}
