.mask {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow: auto;

    @media screen and (max-width: 991px){
        padding: 15px 0 15px 0;
    }
}

.modal-window {
    margin: auto;
    width: 350px;
    background-color: white;
    padding: 15px 20px 15px 20px;
    outline: none;

    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .close-button {
            font-size: 1.9em;
            padding: 0;
            color: #9c9c9c;
            &:hover {
                cursor: pointer;
            }
        }
    }

    @media screen and (max-width: 991px){
        width: 90%;
        border-radius: 0;
        padding: 15px 10px 15px 10px;
    }
}

.form-vertical {

    button {
        outline: none;
    }

    .MuiGrid-root {
        display: flex;
        flex-grow: 1;
    }

    .but-container {

        position: relative;
        $but-height: 36px;
        $but-width: 200px;

        button {
            width: $but-width;
            height: $but-height;
            border-radius: $but-height / 2;
        }

        .but-progress {
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: -12px;
            margin-left: -12px;
        }
    }
}
