.drawer {
    .MuiPaper-root {
        width: 80%;
    }

    .sidemenu {

        height: 100%;

        .side-search {
            display: flex;
            justify-content: center;
            align-items: center;

            .MuiFormControl-root{
                margin-top: 3px;
                width: 90%;
            }
        }

        .sidelist {
            height: 100%;
            padding: 0;

            .navheader {

                .side-profile {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    align-items: flex-end;
                    justify-content: flex-end;

                    .MuiButtonBase-root {
                        color: white;
                        font-size: 13pt;
                        outline: none;
                    }
                }

                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                align-items: flex-end;
                height: 35%;
                background-image: url("../../images/nav5.jpg");
                background-size: 100% 100%;
            }
        }
    }
}
