@import "../colors";

.appbar {
    display: flex;
    flex-direction: column;
    height: 3.75em;
    z-index: 1100;

    .MuiLinearProgress-root {
        height: 0.25em;
    }

    .toolbar {
        height: 3.5em;
        min-height: 3.5em;
        max-height: 3.5em;
    }

    .navbar-brand {
        &:hover {
            cursor: pointer;
        }
    }

    #navbar-content {
        display: flex;
        flex-grow: 1;
        justify-content: space-between;

        .nav-container {
            display: flex;
            flex-direction: row;
            margin-left: 20px;

            .nav-item {
                outline: none;
                @media (max-width: 991px) {
                    display: none;
                }
            }
        }

        .side-profile {
            @media (max-width: 991px) {
                display: none;
            }
        }

        .hamburger {
            outline: none;

            @media screen and (min-width: 992px) {
                display: none;
            }
        }

        @media (max-width: 991px) {
            justify-content: flex-end;
        }
    }
}
