.left-nav {
    border-right: 1px solid rgba(0,0,0,.1);
    position: sticky;
    height: 100%;
    padding: 0.7em 10px 10px 10px;
    color: red;

    .MuiFormControl-root{
        margin-top: 3px;
        width: 100%;
    }

    @media screen and (max-width: 991px) {
        display: none;
    }
}
