.pathview {
    display: flex;
    padding-left: 10px;
    margin-bottom: 5px;
    flex-basis: 2.5em;
    flex-shrink: 0;
    align-items: center;
    background-color: #e7eceb !important;

    .breadcrumb-item {
        margin: 0;
        color: #979c9b !important;
        white-space: nowrap;
        &:hover {
            cursor: pointer;
            text-decoration: none;
        }
    }

    .active-item {
        color: #3b3b3b !important;
    }
}
