.side-profile {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;

    .MuiButtonBase-root {
        color: white;
        font-size: 13pt;
        outline: none;
    }
}
