.resource {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-shrink: 0;
    align-items: center;
    margin: 0;

    button {
        background: transparent url("../../../images/vector/unknown.svg") no-repeat;
        background-size: cover;
        border-color: transparent;
        padding: 0;
        margin: 0;
        outline: none;

        &:active {
            border-color: transparent;
            background-color: lightgray;
        }
        &:hover {
            cursor: pointer;
        }
    }
    p {
        word-break: break-word;
    }

    .txt-img {
        background-image: url("../../../images/vector/txt.svg");
    }
    .pdf-img {
        background-image: url("../../../images/vector/pdf.svg");
    }
    .js-img {
        background-image: url("../../../images/vector/json.svg");
    }
    .unknown-img {
        background-image: url("../../../images/vector/unknown.svg");
    }
    .doc-img {
        background-image: url("../../../images/vector/doc.svg");
    }
    .xls-img {
        background-image: url("../../../images/vector/xls.svg");
    }
    .jpeg-img {
        background-image: url("../../../images/vector/jpeg.svg");
    }
    .png-img {
        background-image: url("../../../images/vector/png.svg");
    }

    .folder-img {
        background-image: url("../../../images/vector/folder.svg");
    }

    .upload-img {
        background-image: url("../../../images/vector/note_add.svg");
    }
}
