@import "colors";

body {
    margin: 0;
    #root {
        display: flex;
        width: 100%;
        height: 100%;

        .container-fluid {
            position: fixed;
            background-color: $color-primary;
            width: 100%;
            top: 3.75em;
            left: 0;
            height: calc(100vh - 3.75em);
        }
    }
}
